[submodule ".registry"]
	path = .registry
	url = https://github.com/gamlss-dev/gamlss-dev.r-universe.dev
	branch = HEAD
[submodule "WeatherGermany"]
	path = WeatherGermany
	url = https://github.com/gamlss-dev/WeatherGermany
[submodule "gamlss"]
	path = gamlss
	url = https://github.com/gamlss-dev/gamlss
[submodule "gamlss.add"]
	path = gamlss.add
	url = https://github.com/gamlss-dev/gamlss.add
[submodule "gamlss.cens"]
	path = gamlss.cens
	url = https://github.com/gamlss-dev/gamlss.cens
[submodule "gamlss.data"]
	path = gamlss.data
	url = https://github.com/gamlss-dev/gamlss.data
[submodule "gamlss.dist"]
	path = gamlss.dist
	url = https://github.com/gamlss-dev/gamlss.dist
[submodule "gamlss.foreach"]
	path = gamlss.foreach
	url = https://github.com/gamlss-dev/gamlss.foreach
[submodule "gamlss.ggplots"]
	path = gamlss.ggplots
	url = https://github.com/gamlss-dev/gamlss.ggplots
[submodule "gamlss.mx"]
	path = gamlss.mx
	url = https://github.com/gamlss-dev/gamlss.mx
[submodule "gamlss.prepdata"]
	path = gamlss.prepdata
	url = https://github.com/gamlss-dev/gamlss.prepdata
[submodule "gamlss.spatial"]
	path = gamlss.spatial
	url = https://github.com/gamlss-dev/gamlss.spatial
[submodule "gamlss.tr"]
	path = gamlss.tr
	url = https://github.com/gamlss-dev/gamlss.tr
[submodule "gamlss2"]
	path = gamlss2
	url = https://github.com/gamlss-dev/gamlss2
