[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "gamlss"]
	path = gamlss
	url = https://github.com/gamlss-dev/gamlss
[submodule "gamlss.dist"]
	path = gamlss.dist
	url = https://github.com/gamlss-dev/gamlss.dist
